<header class="character-details__header">
  {{this.model.name}}
</header>
<main class="character-details__content">
  <span class="character-details__pill">
    <span>Mass (kg)</span>
    <span>{{this.model.mass}}</span>
  </span>
  <span class="character-details__pill">
    <span>Height (cm)</span>
    <span>{{this.model.height}}</span>
  </span>
  <span class="character-details__pill">
    <span>Homeworld</span>
    <span>{{this.model.homeworld.name}}</span>
  </span>
</main>