.character-details {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &__item {
    flex-basis: 45%;
    margin: 15px 5px;
    color: $primary-foreground;
  }

  &__content {
    display: flex;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-controls {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__pill {
    margin-right: 20px;
    display: inline-flex;
    flex-flow: column;
    border-left: 1px solid $secondary-foreground;
    padding-left: 10px;
    font-size: 1.1rem;
    flex-basis: 15%;

    span:first-child {
      text-transform: uppercase;
      margin-right: 5px;
      font-size: 0.7rem;
      margin-bottom: 3px;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  &__header {
    margin: 0;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    color: $secondary-foreground;
    margin-bottom: 5px;
  }
}

// mobile
@media screen and (max-width: $screen-md-min) {
  .character-details {
    &__content {
      display: flex;
      flex-wrap: wrap;
    }

    &__pill {
      flex-basis: 35%;

      &:last-child {
        margin-top: 5px;
        flex-grow: 1;
      }
    }
  }
}
