{{outlet}}

<BoxOffice::Item @model={{model}} @isStatic="true"/>

<section class="species-list">
  <Species @count="8" @name="wookie"/>
  <Species @count="8" @name="wookie"/>
  <Species @count="8" @name="wookie"/>
  <Species @count="8" @name="wookie"/>
</section>

<section class="character-list-controls">
  <PureSelect/>
</section>

<CharacterDetails @links={{model.characters}}/>